.lisContainer {
    position: relative;
}

.lisButtonOpen {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.lisInputContainer,
.lisButtonOpen {
    position: fixed;
    z-index: 999999999;
    bottom: 5vh;
    right: 1vw;
    background-color: #DDAA5E;
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.47);
}

.lisButtonClose {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 0.75rem;
    position: inherit;
    right: 2%;
    z-index: 99999999999;
}

.lisInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 9rem;
    height: 6rem;
}

.lisInput {
    background-color: transparent;
    border: 1px solid black;
    width: 46%;
    text-align: center;
    font-size: .875rem;
    outline: none;
}

.lisInput:focus {
    outline: none;
}

.lisInputTittle {
    margin: 1rem 0 0 0;
    padding: 0;
}